# athena development server
# Copy these lines to C:\Windows\System32\drivers\etc\hosts
127.0.0.1 c.athena.localhost c1.athena.localhost ce.athena.localhost
127.0.0.1 c4.athena.localhost c5.athena.localhost c6.athena.localhost
127.0.0.1 osu.athena.localhost a.athena.localhost b.athena.localhost
127.0.0.1 api.athena.localhost

# HTTPS (optional):
# 1. Install mkcert: `mkcert -install`
# 2. Generate certs: `mkcert "*.athena.localhost"`
# 3. Uncomment HTTPS block in nginx.dev.conf
# 4. Update cert paths in nginx.dev.conf
